.marker-icon {
	&.offline {
		animation: bounce 2s infinite;
	}
}
@keyframes bounce {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.2);
	}
}
